# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.lock
**/.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# stevegt
local/
.grok
.grok.lock
go.work
go.work.sum
.aidda/

# executables
grok
x/tokencount/tokencount

# goland
.idea/

# plugin-related
vscode-plugin/grokker/core.*
*.vsix

